<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Payment Method</title>
</head>
<body>
    <h1>Choose Your Payment Method</h1>
    <form action="/checkout" method="POST"><input type="submit" value="Buy Now with stripe"></form>

    <form action="/checkout/paypal" method="POST"><input type="submit" value="Buy Now with paypal"></form>

</body>
</html>

