<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <h1>Login</h1>
  
   <form action="/user/login" method="post">
      <label>Email</label>
      <input type="text" name="email" id="">
      <label>Password</label>
      <input type="password" name="password" id="">
      <button type="submit">Login</button>
   </form>
   <a href="/auth/google/login">Login with Google</a>
   <div>  <a href="/open/home">home</a></div> 
</body>
</html>
