<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/user/reset-password/<%= token %>" method="post">
        <label>New Password</label>
        <input type="password" name="password" id="password">
        <% if (locals.message) { %>
            <p><%= message %></p>
        <% } %>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
